

label {
    font-size: medium;
    color: #252525;
}

span {
    color: #505050;
}

.cardi {
    border: 2px solid #330000;
    border-radius: 5px;
    margin: 0.4%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.cardi:hover {
    transition: 0.2s;
    background-color: #ffffff;
}

.bode {
    background-color: #a0a0a03d;
    border: 2px solid #330000;
    border-radius: 5px;
}

input {
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    font-size: medium;
    margin-bottom: 12%!important;
}

.htmlVazio {
    margin-top: 30%;
    margin-bottom: 30%;
    text-align: center;
}

.center {
    margin-right: 20%;
    margin-left: 18%;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.button {
    background-color: #330000 !important;
    font-size: medium;
    color: #ffffff !important;
    margin-top: 5%;
}

.button:hover {
    background-color: #c3272f !important;
    transition: 0.2s;
}

.topp {
    text-align: center;
    border: 2px solid #330000;
    border-radius: 5px;
    margin-top: 7%;
    background-color: #ffffff;
}



/* caixinhas */

.erroBox {
    background-color: #c3272f;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
}

.certoBox {
    background-color: #00bd6e;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
}

.notifica {
    border-radius: 5px;
    background-color: #6e6e6e;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    color: #ffffff;
}