<div style="padding: 5%;">
    <div>
        <div class="row" style="margin-left: 0.5%;">
            <div>
                <label class="title">Serviços Pendentes</label><br>
            </div>
            <div style="overflow: auto;" *ngIf="erro" class="erroBox">
                {{ erro }}
            </div>
            <div class="col"></div>
        </div>
        <div style="margin-top: 5%;" #lista>
            <div *ngFor="let servico of servicos" class="cardi">
                <div class="prest">
                    <label class="row">{{servico.titulo}}</label>
                    <span class="row"> <span style="font-weight: bold;">Local:</span> {{servico.local}}</span>
                    <span class="row"> <span style="font-weight: bold;">Data
                            Solicitada:</span>{{servico.req_date}}</span>
                    <span class="row"> <span style="font-weight: bold;">Descrição:</span>{{servico.descricao}}</span>
                </div>
                <div>
                    <button class="button btn accept" (click)="aceita(servico._id)">Aceitar</button>
                    <button style="margin-left: 10%;" class="button btn" (click)="recusa(servico._id)">Recusar</button>
                </div>
            </div>
        </div>
    </div>
</div>