<div>
    <div class="topp">
        <label style="font-size: 25px;">Solicitar</label><br>
        <label style="font-size: 25px;">Serviço</label>
    </div>
</div>

<div>
    <div>
        <div class="htmlVazio">
            <label for="titulo">Assunto</label><br>
            <input type="text" #titulo size="40"><br>

            <label for="local">Local</label><br>
            <input type="text" #local size="40"><br>

            <label for="descricao">Descrição do problema:</label><br>
            <textarea type="text" rows="5" cols="42" placeholder="Descrição..." #descricao></textarea><br>

            <button class="btn button center" (click)="send()">Enviar</button>
        </div>
    </div>
    <div style="overflow: auto;" *ngIf="erro" class="erroBox">
        {{ erro }}
    </div>
</div>