<p style="padding: 5%;">
    <i class="fas fa-info-circle" style="font-size: 25px;"> </i>
    <label style="font-size: 25px;"> Sobre o nosso Site</label>
    <br>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet elit dignissim,
        vulputate sem sit amet,
        ultricies ipsum. Suspendisse ullamcorper augue justo, non efficitur sem iaculis ut. Aenean sed orci ac ipsum
        accumsan euismod ut ut nulla. Phasellus cursus, velit sit amet venenatis iaculis, purus ex facilisis sapien, vel
        bibendum nunc ipsum ut dolor. Pellentesque ac elit mauris. Morbi nunc nibh, fermentum ac vulputate vel, lacinia
        ut
        ipsum. Aenean lobortis finibus urna, vel auctor nulla placerat ut. Pellentesque lobortis eu ipsum vitae
        ultricies.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a malesuada nunc. Vestibulum ut sagittis nisl,
        non
        malesuada arcu. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        Vivamus blandit augue nec turpis bibendum aliquet. Pellentesque placerat interdum ante vel dapibus. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ex risus, sodales at metus
        consectetur, ullamcorper interdum augue. Vivamus vitae condimentum dolor. Donec pellentesque malesuada eros, ac
        placerat lorem ullamcorper eget. Mauris congue libero eget risus maximus, eget tristique dolor ullamcorper.
        Suspendisse potenti. Donec ipsum ipsum, lacinia nec gravida non, laoreet sit amet urna. Praesent sit amet augue
        nec
        ante ultricies scelerisque vitae pulvinar lorem. Proin mattis sagittis porta. Phasellus commodo pulvinar elit,
        feugiat scelerisque sem finibus vitae. Suspendisse commodo accumsan est et facilisis. Suspendisse vulputate
        massa at
        lacus feugiat feugiat. Nulla consectetur congue velit, sed posuere nibh porta at.

        Quisque facilisis eu massa at suscipit. Sed mollis vitae neque at varius. Morbi sit amet metus leo. Nulla
        dignissim
        sapien eu interdum dictum. Suspendisse id tellus elementum, consectetur turpis nec, imperdiet erat. Sed quis
        lectus
        suscipit dolor dignissim bibendum. Nunc a sapien odio. Mauris at tempor tellus. Fusce sit amet sapien sit amet
        arcu
        efficitur pulvinar. In est massa, viverra a metus id, facilisis faucibus turpis. Ut vitae elit posuere arcu
        porttitor eleifend. Quisque tristique, dolor eget condimentum posuere, arcu leo hendrerit ipsum, in ultrices
        justo
        tellus in sem. Integer vitae lorem elit. Fusce sapien est, aliquam et laoreet sit amet, porttitor vitae magna.
        Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut vestibulum mauris.

        Nam sit amet tincidunt risus. Quisque ullamcorper sollicitudin quam nec interdum. Maecenas dictum nunc tempor ex
        convallis venenatis. Nulla malesuada pretium mauris lobortis dapibus. Nulla ligula ligula, elementum volutpat mi
        sit
        amet, cursus sollicitudin mauris. Curabitur ut tortor quis metus rhoncus viverra. Vivamus semper volutpat enim,
        non
        ultrices quam semper dapibus. Morbi tincidunt eu leo at elementum. Nulla aliquet eget elit ac faucibus. Quisque
        porttitor ligula eros, at venenatis massa euismod vitae. Curabitur mollis tortor sit amet tempor sodales.
        Praesent
        elit lorem, tincidunt vel finibus ut, rutrum eu neque.

        Curabitur diam massa, pretium id pulvinar non, luctus sed neque. Aliquam odio sapien, condimentum ut consectetur
        sit
        amet, bibendum eget tellus. Aenean urna mauris, pharetra vitae lobortis non, euismod et sapien. Aenean eget
        aliquam
        diam. Cras arcu eros, luctus nec tristique auctor, porta sed tortor. Nullam aliquet vestibulum lobortis.
        Curabitur
        volutpat lorem eu semper consectetur. Maecenas sagittis vitae erat sed lobortis. Mauris felis urna, laoreet ac
        dui
        eu, sagittis suscipit massa. Proin faucibus mollis sagittis. Ut euismod sodales turpis. Aenean blandit mauris
        non
        posuere placerat. </span></p>