<div>
    <div>
        <div class="row">
            <div>
                <label class="title">Lista de Prestadores</label><br>
            </div>
            <div style="overflow: auto;" *ngIf="erro" class="erroBox">
                {{ erro }}
            </div>
            <div class="col"></div>
        </div>
        <div style="margin-top: 5%;" #lista>
            <div *ngFor="let prestador of prestadores" class="cardi">
                <div class="row" (click)="sendPrestId(prestador._id)">
                    <label>{{prestador.nome}}</label>
                    <span>{{prestador.servicos}}</span>
                    <span>{{prestador.cnpj}}</span>
                    <span>{{prestador.email}}</span>
                </div>
            </div>
        </div>
    </div>
</div>